<h1>Parts|| <span><%= link_to 'New Part', new_part_path %></span></h1>

<div class="top-search-bar">
  <%= form_tag(search_parts_url, method: "get") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: 'name', class: 'form-control',
                         data: { autocomplete: autocomplete_part_name_parts_path } %>
      <div class="input-group-append">
        <%= submit_tag("Search", class: 'btn btn-success') %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= link_to 'View', part_path(part) %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_part_path(part) %></td>
          <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui container">
  <%= paginate @parts %>
</div>
