<h1>Makes|| <span><%= link_to 'New Make', new_make_path %></span></h1>

<div class="top-search-bar">
  <%= form_tag(search_makes_url, method: "get") do %>
    <div class="input-group">
      <%= text_field_tag :name, params[:name], placeholder: 'name', class: 'form-control',
                         data: { autocomplete: autocomplete_make_name_makes_path } %>
      <div class="input-group-append">
        <%= submit_tag("Search", class: 'btn btn-success') %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= link_to 'Name', get_make_order_url('name') %></th>
      <th scope="col"><%= link_to 'Country', get_make_order_url('country') %></th>
      <th colspan="1"></th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= make.country %></td>
        <td><%= link_to 'View', make_path(make) %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_make_path(make) %></td>
          <td><%= link_to 'Destroy', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui container">
  <%= paginate @makes %>
</div>