
<%= form_with(model: car, local: true, class: "ui large form segment") do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :make_id %>
<!--    <select -->
    <%= form.collection_select :make_id, @makes, :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="form-group">
    <%= form.label :vin %>
    <%= form.number_field :vin %>
  </div>

  <div class="form-group">
    <%= form.label :part_id, 'Parts: (Select multiple parts with command)' %>
    <%= form.collection_select :part_ids, @parts.order(:name), :id, :name, {}, :multiple => 'true' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<!--  <div class="form-group">-->
    <%#= form.label :part_id, 'Parts: (Select multiple parts with command)' %>
<!--    <select multiple class="form-control" name="parts_id">-->
      <%# Part.all.order(:name).each do |part| %>
<!--        <option value="<%#= part.id %>" name="parts_id"><%#= part.name %></option>-->
      <%# end %>
<!--    </select>-->
<!--  </div>-->





