<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Part</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make.name %></td>
        <td><%= car.model %></td>
        <td><%= car.vin %></td>
            <%  l = car.parts.map {|p| p.name} %>
        <td><%= l.sort.join(", ") %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Car', new_car_path %>
<br>

<%= form_tag(search_cars_url, method: "get") do %>
  <%= label_tag(:search, "Search by Model:") %>
  <%= text_field_tag :model, params[:model],
                     data: { autocomplete: autocomplete_car_model_cars_path } %>
  <%= label_tag(:search, "Search by Make:") %>
  <%= text_field_tag :make, params[:make],
                     data: { autocomplete: autocomplete_make_name_makes_path } %>
  <%= label_tag(:search, "Search By Part:") %>
  <%= text_field_tag :part, params[:part],
                     data: { autocomplete: autocomplete_part_name_parts_path } %>
  <%= label_tag(:search, "Search By Vin:") %>
  <%= text_field_tag :vin, params[:vin] %>
  <%= submit_tag("search") %>

<% end %>
