<!--<p id="notice"><%#= notice %></p>-->

<h1>Cars || <span><%= link_to 'New Car', new_car_path %></span></h1>



<div class="top-search-bar">
  <%= form_tag(search_cars_url, method: "get") do %>
    <div class="input-group">
      <%= text_field_tag :make, params[:make], placeholder: 'make', class: 'form-control',
                         data: { autocomplete: autocomplete_make_name_makes_path } %>
      <%= text_field_tag :model, params[:model], placeholder: 'model', class: 'form-control',
                         data: { autocomplete: autocomplete_car_model_cars_path } %>
      <%= text_field_tag :part, params[:part], placeholder: 'part', class: 'form-control',
                         data: { autocomplete: autocomplete_part_name_parts_path } %>
      <%= text_field_tag :vin, params[:vin], placeholder: 'vin', class: 'form-control'%>

      <div class="input-group-append">
        <%= submit_tag("Search", class: 'btn btn-success') %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Vin</th>
        <th scope="col">Part</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.make.name %></td>
          <td><%= car.model %></td>
          <td><%= car.vin %></td>
              <%  l = car.parts.map {|p| p.name} %>
          <td><%= l.sort.join(", ") %></td>
          <td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="ui container">
  <%= paginate @cars %>
</div>





