<!DOCTYPE html>
<html>
  <head>
    <title>CarShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--    <div class="ui menu">-->
<!--      <div class="header item">-->
<!--        Our Company-->
<!--      </div>-->
<!--      <a class="item">-->
<!--        About Us-->
<!--      </a>-->
<!--      <a class="item">-->
<!--        Jobs-->
<!--      </a>-->
<!--      <a class="item active">-->
<!--        Locations-->
<!--      </a>-->
<!--    </div>-->

    <div class="ui container">
      <div>
        <%= yield %>
      </div>
      <div class="ui buttons">
        <%= link_to 'Cars', cars_path, class: "ui button"  %>
        <%= link_to 'Parts', parts_path, class: "ui button"  %>
        <%= link_to 'Makes', makes_path, class: "ui button" %>
      </div>
    </div>
  </body>
</html>
