<!DOCTYPE html>
<html>
  <head>
    <title>CarShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">Car Depot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="<%= nav_link_class(cars_path)%>">
            <a class="nav-link" href="<%= cars_path %>">Cars<span class="sr-only">(current)</span></a>
          </li>
          <li class="<%= nav_link_class(makes_path)%>">
            <a class="nav-link" href="<%= makes_path %>">Makes</a>
          </li>
          <li class="<%= nav_link_class(parts_path)%>">
            <a class="nav-link" href="<%= parts_path %>">Parts</a>
          </li>
        </ul>
      </div>
    </nav>
<!--    <div class="ui menu">-->
<!--      <div class="header item">-->
<!--        Our Company-->
<!--      </div>-->
<!--      <a class="item">-->
<!--        About Us-->
<!--      </a>-->
<!--      <a class="item">-->
<!--        Jobs-->
<!--      </a>-->
<!--      <a class="item active">-->
<!--        Locations-->
<!--      </a>-->
<!--    </div>-->

    <div class="ui container center">
      <div>
        <%= yield %>
      </div>
<!--      <div class="ui buttons">-->
        <%#= link_to 'Cars', cars_path, class: "ui button"  %>
        <%#= link_to 'Parts', parts_path, class: "ui button"  %>
        <%#= link_to 'Makes', makes_path, class: "ui button" %>
<!--      </div>-->
    </div>
  </body>
</html>
