<!DOCTYPE html>
<html>
  <head>
    <title>CarShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">Car Depot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="<%= nav_link_class(cars_path)%>">
            <a class="nav-link" href="<%= cars_path %>">Cars<span class="sr-only">(current)</span></a>
          </li>
          <li class="<%= nav_link_class(makes_path)%>">
            <a class="nav-link" href="<%= makes_path %>">Makes</a>
          </li>
          <li class="<%= nav_link_class(parts_path)%>">
            <a class="nav-link" href="<%= parts_path %>">Parts</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn btn-outline-primary"><a href="<%= about_creator_path %>">About Me</a></button>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn btn-outline-primary"><a href="<%= about_assignments_path %>">Assignments</a></button>
        </form>
        <% if user_signed_in? %>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            </button>
          </form>
        <% else %>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Sign In', new_user_session_url, method: :get %>
            </button>
          </form>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-primary">
              <%= link_to 'Sign Up', new_user_registration_url, method: :get %>
            </button>
          </form>
        <% end %>
      </div>

    </nav>
<!--    <div class="ui menu">-->
<!--      <div class="header item">-->
<!--        Our Company-->
<!--      </div>-->
<!--      <a class="item">-->
<!--        About Us-->
<!--      </a>-->
<!--      <a class="item">-->
<!--        Jobs-->
<!--      </a>-->
<!--      <a class="item active">-->
<!--        Locations-->
<!--      </a>-->
<!--    </div>-->

    <div class="ui container center">
      <% if flash[:notice] %>
        <p class="alert alert-success" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert alert-danger" role="alert"><%= flash[:alert] %></p>
      <% end %>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
